/.env
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache
/.vscode
/.ml-env
/__pycache__
/temp
/models
/.env/*
*.jpg
/yolov5
/page_separator_1.1.1.pt
/runs/detect
/pruebas
/pages
/olds
/dni_back
/yolo_signature_detection.pt
*.pt
/app/mlruns

*.save
